---
import BaseLayout from "../layouts/BaseLayout.astro";
import Formulario from "../components/Formulario.astro";
---
<BaseLayout>
  <h1>Contacto</h1>
  <p>Ponte en contacto con nosotros para más información.</p>
  <Formulario />
</BaseLayout>