---
import BaseLayout from "../layouts/BaseLayout.astro";
import Carrusel from "../components/Carrusel.astro";
---
<BaseLayout>
  <h1>Productos</h1>
  <p>Encuentra los mejores ordenadores y accesorios aquí.</p>
  <Carrusel />
</BaseLayout>